* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  html {
    font-size: 10px;
    /* 1 rem 10px */
  }
  body {
    font-family: "Inter";
    font-size: 1.6rem;
   
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .container {
    max-width: 114rem;
    margin: 2em auto;
    padding: 0rem 1rem;
  }
  .w-6 {
    width: 2rem;
    height: 2rem;
  }
  .h-6 {
    fill: rgb(239, 140, 1);
  }
  /* top-bar */
  .top_bar {
    width: 100%;
    height: 4rem;
    background-color: #5086A8;
  }
  /* navigation-bar */
  .nav {
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid rgb(199, 193, 193);
  }
  .nav_container {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
  }
  .nav_list {
    display: flex;
  }
  .nav_items {
    display: flex;
  }
  .nav_logo {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    color: #006BAF;
  }
  .nav_item {
    margin: 0rem 0.5rem;
  }
  .nav_link {
    font-size: "Inter";
    font-weight: 500;
    padding: 0.6rem;
    color: black;
    transition: all 0.3s ease;
  }
  
  .nav_link:hover{
    color: #006BAF;
  }
  .nav_form {
    padding: 0.8rem 3em;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
   
  }
  
  .nav_input::placeholder{
    font-family: "Inter";
    padding-left: 0px;
    color: #7D8184;
  }
  .nav_input {
    padding: 0.4rem;
    background-color: transparent;
    outline: none;
    border: none;
  }
  .nav_search {
    cursor: pointer;
  }
  .nav-title{
    display: flex;
    align-items: center;
  }
  .nav_items {
    display: flex;
    align-items: center;
  }
  
  .nav_heart {
    margin-left: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .nav_search:hover{
    filter: drop-shadow(16px 16px 20px rgb(0, 4, 255)) invert(50%);
  }
  
  .nav_heart:hover{
    filter: drop-shadow(16px 16px 20px rgb(0, 4, 255)) invert(50%);
  }

  
  .container .filter_container p{
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
    font-family: "Inter";
  }
  
  .filter_container {
    width: 100%;
    display: block;
  
  }
  .header_filter {
   padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border:1px solid rgb(199, 193, 193);
    background-color: #F5F5F5;
  }

  select{
    padding: 0.5rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: black;
    font-family: "Inter";
    background-color: white;
    cursor: pointer;
  }
  select[name="price"]{
    margin-right: 9px;
    padding-right: 7rem;
  }
  select[name="condition"]{
    
    padding-right: 9.2rem;
   
  }
  label{
    margin-top: 0.5rem;
  }

  .header_filter_link {
    padding: 0.3em;
    color: black;
    transition: all 0.3s ease;
  }
  
  .header_filter_link:hover{
    color: #006BAF;
  }

  input[type="submit"]{
    padding: 1.5rem 2rem;
    background-color: #006BAF;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  input[type="submit"]:hover{
    background-color: #026299;
  }

  
  
 
  /* products */
  .section_header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4rem;
    margin-top: 8rem;
  }
  .section_title {
    margin-right: 2rem;
    font-size: 3rem;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 1rem;
    margin-bottom: 100px;
  }
  .card {
    width: 290px;
    margin-bottom: 5rem;
    margin-top: 1em;
    display: grid;
  }
  .card_top {
    width: 250px;
    height: 22rem;
    position: relative;
  }
  .card_img {
    width: 100%;
    height: 100%;
  }
  .card_body {
    width: 50%;
    margin-top: 1rem;
    text-align: left;
  }
  .card_title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .card_price {
    color: black;
    margin-bottom: 1rem;
  }
  
  .container_btn {
    width: 100%;
    text-align: center;
  }
  .container_btn_a {
    background-color: #006BAF;
    color: white;
    padding: 1.6rem 3rem;
    border-radius: 0.5rem;
  }
  
  .buy_btn{
    cursor: pointer;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #006BAF;
      color: white;
      font-weight: 700;
      padding: 1rem 10rem;
      border: none;
      border-radius: 5px;
      opacity: 0; 
      transition: opacity 0.3s ease; 
    }
    
    .card_top:hover .buy_btn {
      opacity: 1; 
    }
  
  
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #fff;
    background-color: #2c2c2e;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Inter';
    font-weight: 400;
    color: #006BAF;
    font-weight: bold;
    font-style: italic;
    text-transform:none;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }
  
  
  @media only screen and (max-width: 450px) {
    .filter_container {
      flex-direction: column;
    }
    .filter_container p{
        display: none;
      }
    
  }
  
  
