* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  html {
    font-size: 10px;
    /* 1 rem 10px */
  }
  body {
    font-family: "Inter";
    font-size: 1.6rem;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .container {
    max-width: 114rem;
    margin: 2em auto;
    padding: 0rem 1rem;
  }
  .w-6 {
    width: 2rem;
    height: 2rem;
  }
  .h-6 {
    fill: rgb(239, 140, 1);
  }
  

  .profile-pic{
    display: flex;
    width: 5rem;
    margin-right: 1rem;
  }

  .profile{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: #ccc 3px solid;
    background-color: #F5F5F5;
  }

  .profile-chat-pic{
    display: flex;
    width: 3rem;
    margin-right: 1rem;
  }
  .profile-chat{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: #ddd 2px solid;
   
  }

  .container p{
    font-size: 3.5rem;
  
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 700;
    font-family: "Inter";
  }
  .chats_container {
    width: 100%;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4em;
  }
  .profile p{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Inter";
  }
  .user-chats{
    margin: 0;
  }

  .user-chats p{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Inter";
    cursor:pointer;
  }

  .user-chats p:hover{
   color: #006BAF;
  }
  .chat_form {
    width: 30%;
    display: flex;
    flex-direction: column;
    border:solid 4px #ccc;
    border-radius: 1rem;
  }


  .messages {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:solid 4px #ccc;
    border-radius: 1rem;
   
  }
  .user-message {
    background-color: #006BAF; /* Light green background */
    color: #ffffff; /* Black text */
    padding: 8px;
    margin: 4px 4px 4px 400px;
    border-radius: 10px;
    align-self: flex-end; /* Align messages to the right */
  }
  .other-message {
    background-color: #757575; /* White background */
    color: #ffffff; /* Black text */
    padding: 8px;
    margin: 4px 400px 4px 4px;
    border-radius: 10px;
    align-self: flex-start; /* Align messages to the left */
  }
  #status{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Inter";
    color:#535455
  }

  .chat-container {
    width: 100%;
    margin: 0 0;
  }
  
  #chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  #message-form {
    display: flex;
  }
  
  #message-input {
    padding: 10px;
    margin-bottom: 20px;
    flex: 1;
  }
  
  #send_btn{
    cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
    border: none;
    background: #006BAF;
    color: white;
    font-family: "Inter";
    padding: 5px 10px;
  }
  
  .header_filter_link {
    padding: 0.3em;
    color: black;
    transition: all 0.3s ease;
  }
  
  .header_filter_link:hover{
    color: #006BAF;
  }

  .profile-chat:hover{
    background-color: #dad6d6;
    cursor: pointer;
  }
 #title_product{
    width:70%
 }
 
  .chat_form input{
    padding: 1.5rem;
    background-color: transparent;
    outline: none;
    border: none;
    background-color: #F5F5F5;
  }
  .name {
    margin-top: 20px;
}

.buttons{
    display: flex;
}
.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 700px) {
  .chat_form p {
   display: none;
  }
}





 