@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruda:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruda:wght@400..900&display=swap');

html{
    font-family: "Inter";
}

body {
    margin: 0;
    padding: 0; /* Optionally set padding to 0 as well */
  }
  

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-family: 'Inter';
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
  }
  
    #testimonials{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width:100%;
  }
  .testimonial-heading{
      letter-spacing: 1px;
      margin: 30px 0px;
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .testimonial-heading h4{
      padding: 15px;
  }
   
  .testimonial-heading span{
      font-size: 1.3rem;
      color: #252525;
      margin-bottom: 10px;
      letter-spacing: 2px;
      text-transform: uppercase;
  }
  .testimonial-box-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width:100%;
  }
  .testimonial-box{
      width:500px;
      box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
      background-color: #ffffff;
      padding: 20px;
      margin: 15px;
      cursor: pointer;
  }
  .profile-img{
      width:50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
  }
  .profile-img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
  }
  .profile{
      display: flex;
      align-items: center;
  }
  .name-user{
      display: flex;
      flex-direction: column;
  }
  .name-user strong{
      color: #3d3d3d;
      font-size: 1.1rem;
      letter-spacing: 0.5px;
  }
  .name-user span{
      color: #979797;
      font-size: 0.8rem;
  }
  .reviews{
      color: #f9d71c;
  }
  .box-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  }
  .client-comment p{
      font-size: 0.9rem;
      color: #4b4b4b;
  }
  .testimonial-box:hover{
      transform: translateY(-10px);
      transition: all ease 0.3s;
  }
   
  @media(max-width:1060px){
      .testimonial-box{
          width:45%;
          padding: 10px;
      }
  }
  @media(max-width:790px){
      .testimonial-box{
          width:100%;
      }
      .testimonial-heading h1{
          font-size: 1.4rem;
      }
  }
  @media(max-width:340px){
      .box-top{
          flex-wrap: wrap;
          margin-bottom: 10px;
      }
      .reviews{
          margin-top: 10px;
      }
  }
  ::selection{
      color: #ffffff;
      background-color: #252525;
  }

  .containerItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 100px;
    border-bottom: #615D5D;
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }

  .items{
    align-self: flex-end;
  }

  .left-side{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  

  .select-image{
    max-width: 700px;
    size: 100%;
  }

  .select-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .thumbnails{
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    gap: 10px;

  }

  .thumbnail img{
    width: 100%;
    border-radius: 10px;
  }
  .right-side{
    width: 100%;
    display: flex;
    flex-direction: column;
   
  }

  .right-side h6{
    color: #006BAF;
    font-size: medium;

  }

  .right-side p{
    color: hsl(219, 9%, 45%);
    font-size: 18px;
  }

  .content{
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }

  .options{
    gap: 20px;
    border-top: #615D5D;
    border-top-style: solid;
    border-top-width: 2px;
  }

  .price{
    font-size: 25px;
    font-weight: 700;
  }

  .off{
    font-size: 16px;
    color: #ccc;
    font-weight: 700;
  }

  .info-title p{
    font-weight: bold;
  }

  .cart{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #006BAF;
    padding: 10px 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width:200px;
    gap: 10px;
    font-size: 15px;
    font-weight: 700;
  }

  .buttons{
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding-bottom: 20px;

  }

  .cart img{
    width: 18px;
  }

  .fav{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: red;
    padding: 10px 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width:200px;
    gap: 10px;
    font-size: 15px;
    font-weight: 700;
  }

  .fav img{
    
    width: 18px;
  }

  .getcontact{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #615D5D;
    padding: 10px 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width:200px;
    gap: 10px;
    font-size: 15px;
    font-weight: 700;
  }

  .comment-box{
    border-top: #615D5D;
    border-top-style: solid;
    border-top-width: 2px;
    top: 50%;
    left: 50%;
    position:relative;
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 20px;
  }

  .comment-box h2{
    font-size: 20px;
    margin-bottom: 15px;

  }

  .comment-box input{
    width:100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #86b0b6;
  }

  .comment-box input:focus{
    border: 1px solid #000;
    outline: 0;
  }
  .comment-box textarea {
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #86b0b6;
  }

  .comment-box textarea:focus{
    border: 1px solid #000;
    outline: 0;
  }

  .comment-box button{
    border:0;
    padding: 10px 30px;
    background: #86b0b6;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
  }

  .comment-box button:hover{
    background-color: #718a71;
  }

  #full-stars-example-two {

    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    .rating-group {
      display: flex;
    }
    
    /* make hover effect work properly in IE */
    .rating__icon {
      pointer-events: none;
    }
    
    /* hide radio inputs */
    .rating__input {
     position: absolute !important;
     left: -9999px !important;
    }
    
    /* hide 'none' input from screenreaders */
    .rating__input--none {
      display: none
    }
  
    /* set icon padding and size */
    .rating__label {
      cursor: pointer;
      padding: 0 0.1em;
      font-size: 2rem;
    }
    
    /* set default star color */
    .rating__icon--star {
      color: orange;
    }
  
    /* if any input is checked, make its following siblings grey */
    .rating__input:checked ~ .rating__label .rating__icon--star {
      color: #ddd;
    }
    
    /* make all stars orange on rating group hover */
    .rating-group:hover .rating__label .rating__icon--star {
      color: orange;
    }
  
    /* make hovered input's following siblings grey on hover */
    .rating__input:hover ~ .rating__label .rating__icon--star {
      color: #ddd;
    }
  }