
.login{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  height: 90vh;
}
.login-box{
  padding: 20rem;
  margin-bottom: 5rem;
}
.login-box h1{
  font-size: 2rem;
}

.login form div input{
  height: 30px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  padding: 0.6em 0.5rem;
}
.login button{
  width: 80%;
}
.login img{
  width: 50%;
  height: 100%;
}
.loginbottom{
  width: 100%;
  display: grid;
  grid-template-areas: "login space forgot";
  grid-template-columns: 2fr 2fr;
  justify-content: center;
}
#loginTitle{
  font-size: 30px;
  margin: 3rem 0rem;
}
#forgot{
  display: flex;
  align-items: center;
  grid-area: "forgot";
  justify-self: end;
  a{
    color: red;
  }
}

#signin{
  width: 140px;
  height: 50px;
  background-color: #006BAF;
  font-family: "Poppins";
  padding: 15px 40px;
  font-size: 15px;
  font-weight:600 ;
  letter-spacing: 2px;
  background-color: #006BAF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 15px;
}
#noAccount{
  margin: 3rem 0rem;
}
@media only screen and (max-width: 800px){
.login img{
  display: none;
}
.login-box{
  width: 100%;
}
}
