#ad_body{
    display: flex;
    flex-direction: column;
}
  .ad_header_container{
    width: 100%;
    align-self: center;
    display: flex;
    justify-content:space-between;
    margin: 5rem 0rem;
    align-items: center;
    padding: 0rem 1rem;
  }
  .ad_header_container p{
    display: flex;
    align-items: center;
  }
  .ad_header{
    width: 100%;
    max-width: 114rem;
    display: flex;
    align-self: center;
  }
  .account{
    width: 100%;
    max-width: 114rem;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
  }
  .account_nav{
    flex: 0 0 30%;
    height: 100%;
    align-self: flex-start;
    border: #ccc 1px solid;
  }
  .account_title{
    padding: 1rem;
    background-color: #006BAF;
    color: white;
    font-size: 1.6rem;
  }
  .profile_title{
    margin-top: 1rem;
  }
  .account_selector {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  background-color: white;
  margin: 10px 0;
  padding-left: 10px;
  }
  .account_selector a {
    font-size: 1.1em;
    color: black;
    transition: all 0.3s ease;
  }
  .account_link {
    padding: 0.3em;
    color: black;
    transition: all 0.3s ease;
  }
  .account_link:hover{
    color: #006BAF;
  }
  .profile_title{
    margin-bottom: 1rem;
  }

  .orders {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    padding: 20px;
}


.order_table {
    width: 100%;
    border-collapse: collapse; 
    border: 1px solid #ccc; 
}

.order_table th {
    padding: 10px; 
    text-align: left; 
    background-color: #f0f0f0; 
    font-weight: bold; 
}


.order_table td {
    padding: 10px; 
    text-align: left; 
}
.order_table tr:hover {
    background-color: #f9f9f9; 
}
.order_link{
  text-decoration: none;
  color:inherit;
}
.order_link:hover{
  color: #006BAF;
}
.card {
    width: 290px;
    margin-bottom: 5rem;
    margin-top: 1em;
    display: grid;
  }
  .card_top {
    width: 250px;
    height: 22rem;
    position: relative;
  }
  .card_img {
    width: 100%;
    height: 100%;
  }
  .card_body {
    width: 50%;
    margin-top: 1rem;
    text-align: left;
  }
  .card_title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .card_price {
    color: black;
    margin-bottom: 1rem;
  }
  .add_btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #006BAF;
    color: white;
    font-weight: 700;
    padding: 1rem 10rem;
    border: none;
    border-radius: 5px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    cursor: pointer;
  }
  .card_top:hover .add_btn {
    opacity: 1; 
  }
  #logout{
    color: red;
  }

  #logout:hover{
    color: rgb(214, 2, 2);
  }