#profile_body{
    display: flex;
    flex-direction: column;
}
  .profile_header_container{
    width: 100%;
    align-self: center;
    display: flex;
    justify-content:space-between;
    margin: 5rem 0rem;
    align-items: center;
    padding: 0rem 1rem;
  }
  .profile_header_container p{
    display: flex;
    align-items: center;
  }
  .profile_header{
    width: 100%;
    max-width: 114rem;
    display: flex;
    align-self: center;
  }
  .account{
    width: 100%;
    max-width: 114rem;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
  }
  
  .account_nav{
    width: 40%;
    height: 100%;
    align-self: flex-start;
  }
  .account_selector {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }
  .account_link {
    padding: 0.3em;
    color: black;
    transition: all 0.3s ease;
  }
  .account_link:hover{
    color: #006BAF;
  }
  .profile_title{
    margin-bottom: 1rem;
  }
  .edit_profile{
    border:solid 4px #ccc;
    border-radius: 1rem;
    padding: 20px;
  }
  .edit_profile input{
    height: 30px;
    width: 100%;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0.6em 0.5rem;
    background-color: #F5F5F5;
    border-radius: 6px;
    border: 2px solid #ccc;
  }
  .password_change input:nth-last-child(-n+2) {
    margin-top: 0;
}
  .profile_sub{
    margin-bottom: 2rem;
  }
  .name {
    display: flex;
    flex-direction: row;
}
.input_wrapper_name {
    width: 100%;
    display: flex;
    flex-direction: column;
}
  .email{
    display: flex;
    flex-direction: row;
  }
.input_wrapper_email{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#input_email{
  margin-right: 1rem;
}
#input_fname{
    margin-right: 1rem;
}
#save_changes{
    width: 30%;
    background-color: #006BAF;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 1.5em 2.5rem;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}
#cancel_button{
    width: 30%;
    background-color: #999;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 1.5em 2.5rem;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
}
.finish_edit_profile{
  display: flex;
  flex-direction: row;
  justify-content: end;
  
}
#logout{
  color: red;
}