  .register{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    height: 90vh;
  }
  .register-box{
    padding: 6rem;
    margin-bottom: 5rem;
  }
  .register-box h1{
    font-size: 2rem;
  }
  form{
    width: 100%;
    margin-bottom: 2rem;
  }
  .register form div input{
    height: 30px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    padding: 0.6em 1rem;
  }
  .register button{
    width: 50%;
  }
  .register img{
    width: 50%;
    height: 100%;
  }
  @media only screen and (max-width: 800px){
  .register img{
    display: none;
  }
  .login-box{
    width: 100%;
  }
}