* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  html {
    font-size: 10px;
    /* 1 rem 10px */
  }
  body {
    font-family: "Inter";
    font-size: 1.6rem;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .container {
    max-width: 114rem;
    margin: 2em auto;
    padding: 0rem 1rem;
  }
  .w-6 {
    width: 2rem;
    height: 2rem;
  }
  .h-6 {
    fill: rgb(239, 140, 1);
  }
 


  .container p{
    font-size: 3.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 700;
    font-family: "Inter";
  }
  .billing_container {
    width: 100%;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4em;
  }
  .billing_form p{
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Inter";
  }
  .billing_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border:solid 4px #ccc;
    border-radius: 1rem;
    padding: 20px;
  }
  .header_filter_link {
    padding: 0.3em;
    color: black;
    transition: all 0.3s ease;
  }
  
  .header_filter_link:hover{
    color: #006BAF;
  }
 #title_product{
    width:70%
 }
 
  .billing_form input{
    background-color: #F5F5F5;
    height: 30px;
    width: 100%;
    border-radius: 6px;
    border: 2px solid #ccc;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 1.5em 1rem;
  }
  .name {
    margin-top: 20px;
}

.buttons{
    display: flex;
}
.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#input_title{
    margin-right: 1rem;
}

.billing_container label{
    margin-top: 10px;
    color: #464545;
}

#place_order{
    width: 25%;
    background-color: #006BAF;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 1.5em 5rem;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
}
#go_back{
    width: 25%;
    background-color: #999;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 1.5em 5rem;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
}
#delete_ad{
  width: 25%;
    background-color: red;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 1.5em 5rem;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}


  
  .category select {
    display: flex;
    width: 70%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

 .upload-image{
  margin-bottom: 30px;
  padding: 0;
 }
.upload-image p{
    font-size: 0.7em;
    font-weight: 200;
    margin: 0;
}

.upload-image input[type="file"] {
    margin-bottom: 10px;
    padding: 1.5em 1rem;
    align-items: center; 
    width: 100%;
    display: block; 
}
.upload-image #image{
    padding:20px 10px 40px;
    text-align: center;
}

textarea {
    width: 100%;
    padding: 10px; 
    resize: vertical; 
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #F5F5F5;
    border-radius: 6px;
    border: 2px solid #ccc;
  }

  textarea::placeholder {
    font-family: "Inter";
  }

